<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <!-- Link for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>RecipeBox - Create Author</title>
  </head>

  <body class='text-center'>
    <form action="/addauthor/" method="post">
      <h1>Create Author</h1>
      {% csrf_token %}
      <br />
      {{ form.name }}
      <br />
      {{ form.bio }}
      <br />
      <input class='btn btn-light rounded border-secondary' type="submit" value="SUBMIT">
    </form>
  </body>

</html>