<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>RecipeBox</title>
  </head>

  <body>
    <div class="px-3 py-3 mx-auto text-center">
      <h1 class="display-4">Recipes</h1>
      <p class="lead">The best recipes in the neighborhood</p>
    </div>
    {% for item in data %}
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Written by {{item.author}}</strong>
          <h3 class="mb-0">{{item.title}}</h3>
          <div class="mb-1 text-muted">Time required: {{item.time_required}}</div>
          <p class="card-text mb-auto"><span style='font-weight: bold;'>Description:</span> {{item.description}}</p>
          <p class="stretched-link"><span style='font-weight: bold;'>Instructions:</span> {{item.instructions}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </body>

</html>