<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>RecipeBox - Home</title>
  </head>

  <body class='text-center'>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class='container d-flex justify-content-between'>
        <div>
          <a href="{% url 'addauthor' %}" class="btn btn-outline-light">Add an author</a>
          <a href="{% url 'addrecipe' %}" class="btn btn-outline-light ml-4">Add a recipe</a>
        </div>
        {% if request.user.is_authenticated %}
        <div>
          <span class="text-light h5 my-auto">
            Welcome {{request.user.username}}
          </span>
          <a href="{% url 'logout' %}" class="btn btn-outline-danger ml-4">Log out</a>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
        {% endif %}
      </div>
    </div>
    <div class='container'>
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
        <div class="px-0">
          <h1 class="display-4 font-italic">Recipes</h1>
          <p class="lead my-3">Check out the best recipes in the neighborhood</p>
        </div>
      </div>
      <div class="list-group">
        {% for recipe in data %}
        <a href="{% url 'recipes' recipe.id %}"><button type="button"
            class="list-group-item list-group-item-action">{{recipe.title}}</button></a>
        {% endfor %}
      </div>
    </div>
  </body>

</html>